SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/demo_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=app
SPRING_DATASOURCE_PASSWORD=app
MYSQL_ROOT_PASSWORD=root
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=change-me
APP_SECURITY_JWT_SECRET=change-me-base64-secret
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
